In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("email.csv")
df.head()

  category                                            message
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
sh=LabelEncoder()
df['result']=sh.fit_transform(df.category)
df

     category                                            message  result
0         ham  Subject: enron methanol ; meter # : 988291\r\n...       0
1         ham  Subject: hpl nom for january 9 , 2001\r\n( see...       0
2         ham  Subject: neon retreat\r\nho ho ho , we ' re ar...       0
3        spam  Subject: photoshop , windows , office . cheap ...       1
4         ham  Subject: re : indian springs\r\nthis deal is t...       0
...       ...                                                ...     ...
5166      ham  Subject: put the 10 on the ft\r\nthe transport...       0
5167      ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...       0
5168      ham  Subject: calpine daily gas nomination\r\n>\r\n...       0
5169      ham  Subject: industrial worksheets for august 2000...       0
5170     spam  Subject: important online banking alert\r\ndea...       1

[5171 rows x 3 columns]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
dec=CountVectorizer()

In [8]:
dec_mes=dec.fit_transform(df.message)

In [10]:
dec_mes.toarray()

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
x=dec_mes
y=df.result

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
nb=MultinomialNB()

In [16]:
nb.fit(x_train,y_train)

MultinomialNB()

In [17]:
nb.score(x_test,y_test)

0.970048309178744

In [22]:
m=dec.transform(["Subject: photoshop , windows , office . cheap . main trending abasements darer prudently fortuitous undergone \
                lighthearted charm orinoco taster \
                railroad affluent pornographic cuvier \
                irvin parkhouse blameworthy chlorophyll \
                robed diagrammatic fogarty clears bayda \
                inconveniencing managing represented smartness hashish \
                academies shareholders unload badness \
                danielson pure caffein \
                spaniard chargeable levin."
                ])

In [23]:
nb.predict(m)

array([1])

In [24]:
nb.score(x_test,y_test)

0.970048309178744